# require core team member review for updates to GitHub workflows
/.github/CODEOWNERS @reichlab/repo-writers
/.github/actions/ @reichlab/repo-writers
/.github/shared/ @reichlab/repo-writers
/.github/workflows/ @reichlab/repo-writers
