.Rproj.user
.Rhistory
.RData
.Ruserdata

# we don't need to track the Python lockfile because
# uv run creates a transient, isolated environment
**/uv.lock

# other python artifacts
**/__pycache__

.pre-commit-config.yaml
