.Rproj.user
.Rhistory
.RData
.Ruserdata
**/*.Rproj
!src/variant-nowcast-hub.Rproj


# we don't need to track the Python lockfile because
# uv run creates a transient, isolated environment
**/uv.lock

.pre-commit-config.yaml
