# This requirements file is a superset of all dependencies used in the /src
# directory's .py files. They're replicated here so we can use run pytest
# to invoke scripts' test_ functions (the dependencies are also part of the
# individual scripts' metadata block for ease of use).
click
cladetime@git+https://github.com/reichlab/cladetime
polars>=1.17.1,<1.26.0
pytest