# This requirements file is a superset of all dependencies used in the /src
# directory's .py files. They're replicated here so we can use run pytest
# to invoke scripts' test_ functions (the dependencies are also part of the
# individual scripts' metadata block for ease of use).
click>=8.1.8,<8.3.0
cladetime>=0.3.0,<0.4.0
# old Polars streaming engine is deprecated; recommendation is to pin < 1.23
# until the new engine is released:
# https://github.com/pola-rs/polars/issues/20947
polars>=1.22.0,<1.34.0
pyarrow>=19.0.1,<21.1.0
pytest>=8.3.5,<8.5.0
